<div class="admin-post"
     style="direction: ltr">
  <div class="modal-header clearfix">
<span class="pull-left" ng-click="$close()"><i class="fa fa-times"></i></span>
      <h4 class="modal-title" style="text-align: right"><i class="fa fa-pencil-square-o fa-2x"></i> <span>הודעה לדיירי הבית</span>
      </h4>
  </div>
  <div class="modal-content">
    <form name="adminPostForm" novalidate>
        <div class="row">
          <div class="form-group">
            <label for="title" class="control-label">הכנס כותרת</label>
            <input type="text" class="form-control" name="title" id="title"
                   ng-model="AdminPost.post.title" required/>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="content">תוכן</label>
          <textarea class="form-control" ng-model="AdminPost.post.body" rows="5"
                    id="content"></textarea>
          </div>
        </div>
    </form>
        <button type="submit" ng-click="AdminPost.save()"
                class="btn btn-success">
          שלח
        </button>

  </div>
</div>