<h3 STYLE="direction: rtl">ברוכים הבאים ל Our Home</h3>
<div class="mdl-grid demo-content">
  <div
    class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
    <div class="mdl-card__supporting-text mdl-color-text--black-50 text-right"
         id="pie-chart">
      <h4>סה"כ התפלגות הקופה</h4>

      <div class="col-lg-12">
        <canvas id="base" class="chart-base"
                chart-type="Dashboard.pie.type"
                chart-data="Dashboard.pie.data"
                chart-labels="Dashboard.pie.labels" chart-legend="true">
        </canvas>
      </div>
    </div>
  </div>
  <div
    class="demo-options mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--4-col-desktop">
    <div class="mdl-card__supporting-text mdl-color-text--black-50 text-right">
      <h4>מצב הקופה</h4>

      <div class="mdl-grid">
        <div class="mdl-cell--6-col">
          <span> {{ Dashboard.totalMoneyPaid }}</span>
        </div>
        <div class="mdl-cell--6-col">
          סכום התחלת
        </div>
      </div>
      <div class="mdl-grid">

        <div class="mdl-cell--6-col">

          <div ng-repeat="expnese in Dashboard.buildingExpenses">
            <span>{{ expnese.amount }}</span>
          </div>
          </ul>
        </div>
        <div class="mdl-cell--6-col">
          הוצאות
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-cell--6-col">
          {{ Dashboard.total }}
        </div>
        <div class="mdl-cell--6-col">
          סה"כ
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdl-grid text-right">
  <a class="">
    <span class="pull-right">*</span>
    להשוואה עם שנים קומות
    <a href=""
       class="btn-link"
       ng-click="isCollapsed = !isCollapsed"> לחץ כאן</a>
  </a>
</div>
<div
  class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid"
  ng-hide="!isCollapsed" uib-collapse="!isCollapsed">
  <div class="mdl-card__supporting-text mdl-color-text--black-50 text-right">
    <h4>
      ביחס לשנים קודמות
    </h4>
    <canvas id="bar"
            class="chart chart-bar"
            chart-data="Dashboard.barChart.data"
            chart-legend="true"
            chart-labels="Dashboard.barChart.labels"
            chart-series="Dashboard.barChart.series">
    </canvas>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
    <div class="mdl-card__supporting-text mdl-color-text--black-50 text-right">
      <h4 class="">
        לוח מודעות</h4>

      <div class="mdl-card__supporting-text mdl-color-text--black-50">
        <uib-carousel interval="5000">
          <uib-slide ng-repeat="post in Dashboard.buildingPosts">
            <div><h4>{{ post.title }}</h4>

              <p>{{ post.body }}</p>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__supporting-text mdl-color-text--black-50 text-right">
      <h4>
        רשימת דיירים
      </h4>
      <ul class="list-group">
        <li class="list-group-item"
            style="direction: rtl"
            ng-repeat="apartment in Dashboard.Apartments">
          <span class="apartment-number">{{ apartment.apartmentNumber }}.</span>
          <span class="apartment-resident">{{ apartment.name }}-{{ apartment.lastname }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="mdl-grid">
    <!--<div class="demo-content mdl-color&#45;&#45;white mdl-shadow&#45;&#45;4dp content mdl-color-text&#45;&#45;grey-800 mdl-cell mdl-cell&#45;&#45;4-col mdl-cell&#45;&#45;12-col-tablet">-->

      <!--<div class="mdl-card__title ">-->
        <!--<h2 class="mdl-card__title-text">-->
          <!--<i class="material-icons mdl-color-text&#45;&#45;grey m-r-5 lh-13">account_circle</i>-->
          <!--Register-->
        <!--</h2>-->
      <!--</div>-->
      <!--<div class="p-l-20 p-r-20 p-b-20">-->
        <!--<form action="#">-->
          <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label textfield-demo is-upgraded" data-upgraded=",MaterialTextfield">-->
            <!--<input class="mdl-textfield__input" type="text" id="Username">-->
            <!--<label class="mdl-textfield__label" for="Username">Username</label>-->
          <!--</div>-->

          <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label textfield-demo is-upgraded" data-upgraded=",MaterialTextfield">-->
            <!--<input class="mdl-textfield__input" type="text" id="First">-->
            <!--<label class="mdl-textfield__label" for="First">First name</label>-->
          <!--</div>-->
          <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label textfield-demo is-upgraded" data-upgraded=",MaterialTextfield">-->
            <!--<input class="mdl-textfield__input" type="text" id="Last">-->
            <!--<label class="mdl-textfield__label" for="Last">Last name</label>-->
          <!--</div>-->
          <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label textfield-demo is-upgraded" data-upgraded=",MaterialTextfield">-->
            <!--<input class="mdl-textfield__input" type="password" id="Password">-->
            <!--<label class="mdl-textfield__label" for="Password">Password</label>-->
          <!--</div>-->
          <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label textfield-demo is-upgraded" data-upgraded=",MaterialTextfield">-->
            <!--<input class="mdl-textfield__input" type="text" id="Email">-->
            <!--<label class="mdl-textfield__label" for="Email">Email</label>-->
          <!--</div>-->
          <!--<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect&#45;&#45;ignore-events is-checked is-upgraded" for="checkbox-1" data-upgraded=",MaterialCheckbox,MaterialRipple">-->
            <!--<input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked="">-->
            <!--<span class="mdl-checkbox__label f13 mdl-color-text&#45;&#45;grey">Receive newsletter?</span>-->
            <!--<span class="mdl-checkbox__focus-helper"></span><span class="mdl-checkbox__box-outline"><span class="mdl-checkbox__tick-outline"></span></span><span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple&#45;&#45;center" data-upgraded=",MaterialRipple"><span class="mdl-ripple"></span></span></label>-->

          <!--<div class="m-t-20">-->
            <!--<button type="button" class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-button&#45;&#45;colored mdl-js-ripple-effect mdl-color&#45;&#45;light-green" data-upgraded=",MaterialButton,MaterialRipple">-->
              <!--Register-->
              <!--<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>-->
            <!--<button type="reset" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">-->
              <!--Cancel-->
              <!--<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>-->
          <!--</div>-->

        <!--</form>-->
      <!--</div>-->


    <!--</div>-->


  </div>
</div>