<div class="">
  <header class="demo-drawer-header">

      <img src="../../assets/images/user-avatar.png"
           class="demo-avatar"
        ng-if="sidebar.currentUser">

      <div class="demo-avatar-dropdown">
        <div class="text-center">
        <span ng-if="sidebar.currentUser">{{ sidebar.currentUser.email  }}</span>
        <div  class="text-center" ng-if="!sidebar.currentUser">היכנס</div>
        </div>
      <div class="mdl-layout-spacer"></div>
      <button id="accbtn"
              class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons"
           role="presentation"
           ng-if="sidebar.currentUser"
          >arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <ul
        class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="accbtn">
        <li class="mdl-menu__item">הגדרות</li>
        <li class="mdl-menu__item" ng-if="!sidebar.currentUser"
            ng-click="sidebar.userManagement()"><i class="material-icons">exit_to_app</i>היכנס\התחבר
        <li class="mdl-menu__item"
            ng-click="sidebar.logout()">התנתק
        </li>
      </ul>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" ui-sref="dashboard"><i
      class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>דף
      מרכזי</a>
    <a class="mdl-navigation__link" href="" ui-sref="messages.all-messages"><i
      class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>הודעות</a>
    <a class="mdl-navigation__link" href=""><i
      class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
      &#xEB3F;</i> אנשי מקצוע</a></a>
    <a class="mdl-navigation__link" ui-sref="registration-building"
       ng-if="sidebar.currentUser.admin"><i
      class="mdl-color-text--blue-grey-400 material-icons" role="presentation">business</i>
      תשלומי דיירים </a></li>
    <a class="mdl-navigation__link" href="" ui-sref="forum"><i
      class="mdl-color-text--blue-grey-400 material-icons"  role="presentation">forum</i>פורום</a>
    <a class="mdl-navigation__link" href="" ng-if="sidebar.currentUser.admin"
      ng-click="sidebar.openAdminPost()"><i
      class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cast</i>הודעה
      כללית</a>

    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i
      class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span
      class="visuallyhidden">Help</span></a>
  </nav>
</div>